* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/*----- Header -----*/

header {
    background-color: rgb(183, 228, 181);
    margin: 0;
}

.navbar-toggler navbar-lines {
    width: 1px;

}


@media(min-width: 992px) {
    img .seccionServicios__img { 
        height: 20px;
    }
    
}
    



/* -------Seccion compania------- */

/* .seccion-compania {
    margin: 0;
    height: 50vh;
    justify-items: center;
}

.seccion-compania__titulo {
    text-align: center;
    font-weight: 600;
    margin: 0px;
    padding: 10px;
}


.seccion-compania__texto {
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
    padding: 10px;

}

.seccion-compania__texto--lg {
    display: none;
}

.seccion-compania__articulo1 {
    background-color: rgb(55, 189, 126);
    padding: 10px;
}

.seccion-compania__articulo2 {
    display: flex;
    justify-content: center;
    height: 40vh;
}

.seccion-compania__img {
    height: 100%;
    object-fit: contain;
    margin: 15px;

}

@media(min-width: 992px) {
    .seccion-compania__texto--lg {
        display: flex;
        grid-area: seccion-compania__texto--lg;
        text-align: center;

    }

    .seccion-compania {
        margin: 0;
        height: 60vh;
          
        display: grid;
        grid-template-columns: repeat 70% 20%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "seccion-compania__img seccion-compania__titulo"
        "seccion-compania__img seccion-compania__texto--lg"
        ;

    }
    .seccion-compania__img {
        grid-area: seccion-compania__img;
    }

    .seccion-compania__titulo {
        grid-area: seccion-compania__titulo;
    }

} */

/* --------Seccion Valores -------- */

/* .contenedor {
    width: 95%;
    border: 2px solid black;
    border-radius: 50px;
} */































































/* .marca__titulo {
    font-weight: 600;
}

.navbar__list {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
    gap: 5px;
    
}
.navbar__item {
    color: black;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 10px;
}

@media(min-width:1024px) {
    .header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    .marca {
        justify-content: left;
        margin: 15px;
        
    } 
    .navbar__list {
        margin-right: auto;
        justify-items: space-evenly;

    }
    
} */




/* --------Seccion Compania----- */


/* .navbar__item { 

} */
/* .header h1 {
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

.nav__item {
    display: inline-block;
    font-weight: 500;
    color: black;
    font-size: 1rem;
    margin: 5px;
    text-align: left;
}

.nav__item a {
    color: black;
}

/* Compania */
/* .contenedorPortadaCompania {
    width: 100vw;
    background-color: #AFD377;
    height: 50vh;
}

.companiaPortada__titulo {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    padding: 15px;


   
}

.companiaPortada__img {
    display: inline-block;
    position: relative;
    top: 35px;
    left: -150px;
    height: 80%;
    z-index: 0;
}

.companiaPortada__texto {
    text-align: right;
    line-height: 1.6;
    width: 50%;
    text-align: right;
    
} */




/* h2 {
    font-size: 2rem;
    background-color: aqua;
    padding: 13px;
    text-align: center;
}



header nav ul li {
    display: inline-block;
} 

a {
    text-decoration: none; color: black;
}
header {
    position: sticky;
    top: 0px;
    background-color: white;
}

section {
    color: rgb(red, green, blue);
}

.seccionCompania {
    background-color: aquamarine;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 3fr;
    display: grid;grid-template-areas: 
    "inicioCompania__img inicioCompania__titulo"
    "inicioCompania__img inicioCompania__texto"
    ;
}

.seccionCompania__img {
    grid-area: inicioCompania__img; text-align: center; 
}
.seccionCompania__titulo {
    grid-area: inicioCompania__titulo;
}
.seccionCompania__texto {
    grid-area: inicioCompania__texto; 
}

.seccionValores {
    display: grid; 
    justify-content: space-evenly;
    
  align-content: center;

    grid-template-areas: 
    "seccionValores__titulo seccionValores__titulo seccionValores__titulo"
    "seccionValores__img1 seccionValores__img2 seccionValores__img3 "
    "seccionValores__texto1 seccionValores__texto2 seccionValores__texto3"
    "seccionValores__img4 seccionValores__img5 seccionValores__img6 "
    "seccionValores__texto4 seccionValores__texto5 seccionValores__texto6"
    ;
    
}
.seccionValores__titulo {
    grid-area: seccionValores__titulo; 
}
.seccionValores__img1 {
    grid-area: seccionValores__img1;
}
.seccionValores__texto1 {
    grid-area: seccionValores__texto1;
}
.seccionValores__img2 {
    grid-area: seccionValores__img2;
}
.seccionValores__texto2 {
    grid-area: seccionValores__texto2;
}
.seccionValores__img3 {
    grid-area: seccionValores__img3;
}
.seccionValores__texto3 {
    grid-area: seccionValores__texto3;
}
.seccionValores__img4 {
    grid-area: seccionValores__img4;
}
.seccionValores__texto4 {
    grid-area: seccionValores__texto4;
}
.seccionValores__img5 {
    grid-area: seccionValores__img5;
}
.seccionValores__texto5 {
    grid-area: seccionValores__texto5;
}
.seccionValores__img6 {
    grid-area: seccionValores__img6;
}
.seccionValores__texto6 {
    grid-area: seccionValores__texto6;
}

.seccionServicios__texto {
    text-align: center; margin: 2%;
}

.seccionServicios__card {
    display: flex; flex-flow: row wrap; justify-content: space-evenly; align-items: center;
}
.seccionCajaServicios1 {
    order: 1;
    width: 25vw;
  height: 60px;
  font-size: 1.5rem;
  background-color: rgb(6, 126, 100);
  padding: 2%;
  text-align: center;
  margin: 5px;
  
}
.seccionCajaServicios2 {
    order: 2;
    width: 25vw;
  height: 60px;
  font-size: 1.5rem;
  background-color: rgb(6, 126, 100);
  padding: 2%;
  text-align: center;
  margin: 5px;
}
.seccionCajaServicios3 {
    order: 3;
    width: 25vw;
  height: 60px;
  font-size: 1.5rem;
  background-color: rgb(6, 126, 100);
  padding: 2%;
  text-align: center;
  margin: 5px;
}
.seccionCajaServicios4 {
    order: 4;
    width: 25vw;
  height: 60px;
  font-size: 1.5rem;
  background-color: rgb(6, 126, 100);
  padding: 2%;
  text-align: center;
  margin: 5px;
}
.seccionCajaServicios5 {
    order: 5;
    width: 25vw;
  height: 60px;
  font-size: 1.5rem;
  background-color: rgb(6, 126, 100);
  padding: 2%;
  text-align: center;
  margin: 5px;
}
.seccionCajaServicios6 {
    order: 6;
    width: 25vw;
  height: 60px;
  font-size: 1.5rem;
  background-color: rgb(6, 126, 100);
  padding: 2%;
  text-align: center;
  margin: 5px;
}

.seccionServicios__img {
    margin: 5% 0% 0%;
    width: 100vw;
    height: 300px;
}
.seccionContacto__titulo {
    margin: 0px 0px 2%;
}
.seccionContacto__cardP1 {
    display: flex; justify-content: center; gap: 10px 10px;
}

.seccionContacto__card {
   text-align: center;
    border: rgb(124, 117, 117) solid;
    border-radius: 30px;
    width: 30%;
    height: 25vh;
}
.seccionContacto__cardImg {
    text-align: center;
    width: 10%;
}
.seccionContacto__cardTitulo {
    text-align: center;
    font-weight: bold;
    margin: 3%;
}

.seccionContacto__cardP2 {
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    
}


.seccionContacto__card2 {
    text-align: center;
    border: rgb(124, 117, 117) solid;
    border-radius: 30px;
    width: 60%;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    

}
.seccionContacto__logo {
    width: 5%;
    height: 25%;
    text-align: center;
}

.seccionContacto__flyer {
    text-align: center;
    padding: 10% 2%;
    background-image: url(../assets/images/paisajeCortado.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
}

footer ul li{
    list-style: none;
}
.footer {
    display: flex;
}
.footer__listaMenu{
    margin: 3% 10% 3% 15%;
    text-align: left;
    
}
.footerTitulo__listaMenu {
    font-weight: bold;
    text-align: center;
}
.footer__listaContacto{
    margin: 3% 10% 3% 15%;
    text-align: left;
    
}
.footerTitulo__listaContacto {
    font-weight: bold;
    text-align: center;
}
 */