@import "./utils/variables";
@import "./utils/mixin";

@import "./base/base";

@import "./components/navbar";
@import "./components/tarjeta";
@import "./components/footer";

@import "./pages/index";
@import "./pages/nosotros";
@import "./pages/servicios";
@import "./pages/valores";
@import "./pages/contacto";


.servicios_card {
    border-radius: 30px;
    border-color: $color-border;
    
}

section div {
    h2 {
        text-align: center;
        font-size: 3rem;
    }
    p {
        text-align: justify;
    }
}

