@import "./utils/variables";
@import "./utils/mixin";

@import "./base/base";

@import "./components/navbar";
@import "./components/tarjeta";
@import "./components/footer";

@import "./pages/index";
@import "./pages/nosotros";
@import "./pages/servicios";
@import "./pages/valores";
@import "./pages/contacto";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

$color-primario: #A1FCDF;
$color-secundario: #7FD8BE;
$color-terciario: #FCD29F;
$color-cuarto: #FCAB64;

.navbar {
    background: rgb(161, 252, 223);
    background: radial-gradient(circle, rgba(161, 252, 223, 1) 29%, rgba(127, 216, 190, 1) 69%);
    padding: 1%; 
    
    @media (min-width:992px) {
                    background: rgb(161, 252, 223);
                    background: linear-gradient(90deg, rgba(161, 252, 223, 1) 29%, rgba(127, 216, 190, 1) 69%);
                }
}

.nav {
    &-link {
        color: black;
        font-weight: 300;

        &:hover {
            text-decoration: underline;

            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

        }

        &.active {
            font-weight: 600;
        }
    }
}



.footer {
    background: rgb(161, 252, 223);
    background: radial-gradient(circle, rgba(161, 252, 223, 1) 29%, rgba(127, 216, 190, 1) 69%);
    padding: 3%;
    justify-content: center; 
    
    @media (min-width:992px) {
                    background: rgb(161, 252, 223);
                    background: linear-gradient(90deg, rgba(161, 252, 223, 1) 29%, rgba(127, 216, 190, 1) 69%);
                }

 

    &__titulo {
        text-align: center;
    }

    &__menu {
        text-align: center;

        li {
            list-style: none;
            text-align: center;

            a {
                color: black;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }

              


            }
        }
    }
}

h2 {
    background-color: $color-secundario;
    color: black;
    font-weight: 800;
    padding: 2%;
}

.flyer {
    background-color: #FCD29F;
}


.mapa {
    width: 95%;
}