.mapa #gmap_canvas {
    width: 200px;
}

.form__boton {
    color: $color-primario;
}

.modal {
    &__titulo {
        text-align: start;
        color: black;
        font-weight: 300
        
    }
    

}