* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h2 {
    background-color: $color-secundario;
    color: black;
    font-weight: 800;
    padding: 2%;
    text-align: center;
}